.content{
    border: 1px solid black;
    width:140vw;
    margin:0 auto ;
    padding: 20px;
    margin-top: 50px;
    
}

.main{
    border: 1px solid black;
    width:140vw;
    margin:0 auto ;
    padding: 20px;
}
.content{
    margin-bottom: 2px;
    margin-top: 2px;
    text-align: center;
}
#img{
    height: 130px;
    width: 130px;
    border-radius: 100px;
    margin-right: 20px;
}
#img1{
 height: 80px;
 width: 120px;
 border-radius: 100px;
 margin-top: 0;
 margin-left: 10px;
}
.log{
    display: flex;
    flex-direction: row;
    margin-left: 20%;
    
}


.log h5{
    margin-top: 15px;
}

.ro1{
    border-bottom: 1px solid black;
    
}
.ro2{
    border-bottom: 1px solid black;
    text-align: center !important;
}
.co1{
    border-right: 1px solid black;
    text-align: center;
}
.mg{
    padding-top: 5px;
}
.mg1{
    padding-top: 10px;
    font-size: 1rem;
    text-align: center;
}
@media screen and (min-width: 1159px){
    .maxmark{
     height: 37.44px;
    }
    .log{
        margin-left: 32%;
    }
    .last{
     left: 80%;
    }
    
    .p1{
        height:49px !important;
    }
}
.last{
    margin-top: 4px;
    position: relative;
    left: 65%;
    height: 8vh;
}